<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<div class="div-body-content" data-controller="forum">
    <div class="container div-forum-create-container">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-11">
                <span>ลองตั้งคำถามหรือพูดคุยกับเพื่อนดูสิ ?</span>
            </div>
                
            <div class="col-1">
                <p class="d-inline-flex gap-1" style="float: right">
                    <button class="btn btn-mnr" id="btn-create-question" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" data-action="click->forum#create">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">

                <div class="collapse" id="collapseExample">
                    <%= form_for @question, url: create_question_path(format: :json), method: :POST do |f| %>
                        <%= f.text_area :question, :rows => 4, :cols => 10, class: "form-control text-question", required: true %>
                        <div class="input-group mb-3" style="margin-top: 20px">
                            <span class="input-group-text" id="inputGroup-tag">Tag(s)</span>
                            <%= f.select :tag_id, Tag.all.collect { |t| [t.tag_th, t.id] }, {include_blank: false}, {class: "form-select", id: "select-multi-tag", 'aria-describedby': "inputGroup-tag" ,multiple: true} %>
                        </div>
                        
                        <div class="div-btn-submit">
                            <%= f.submit "+ Create Question", class: "btn btn-mnr" %>
                            <button class="btn btn_cancel" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" data-action="click->forum#cancel">
                                Cancel
                            </button>
                        </div>
                    <% end %>      
                </div>
            </div>
        </div>
    </div>

    <hr class="forum-line"  width= "80%";>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <%= render "question_list" %>
            </div>
        </div>
    </div>
</div>
