<style>
  #btn-logout{ display: none !important; }
  nav{ display: none !important }
</style>

<div class="bg-login"></div>
<div class="text-center div-logo">
  <img src="/mnr_logo-removebg.png" class="rounded" alt="Logo" width="150" height="150">
</div>
<div class="container text-center grid-login">
  <div class="row">
    <div class="col"></div>
    <div class="col-6 div-login-box" >
        <%= form_for :form_login, url: login_login_authen_path(format: :json), method: :POST do |f| %>
            <div class="mb-3">
                <label for="username" class="form-label text-title">ชื่อผู้ใช้ หรือ รหัสประจำตัว: </label>
                <%= f.text_field :username, value: params[:username], class: "form-control" %>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label text-title">รหัสผ่าน: </label>
                <%= f.password_field :password, class: "form-control" %>
            </div>

            <div class="mb-3 form-text">
                Do you have an account? Please <%= link_to "Sign up", login_signup_path() %>
            </div>
            <%= f.submit "Login", class: "btn btn-primary", id: "btn_login" %>
        <% end %>
    </div>
    <div class="col"></div>
  </div>
</div>